h5{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  margin-left: 10%;
    // margin-left: 10%;
    // font-size: 20px;
    // color:white;
}
.sidebar {
    height: 100%;
    // width: 16%;
    // width: 300px;
    // position:absolute;
    // z-index: 1;
    // top: 139px;
    // left: 0;
    background-color: #10847E;
    // overflow-x: hidden;
    // padding-top: 16px;
    padding-top: 5%;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 18px;
    // font-size: 20px;
    color:white;
    display: block;
  }
  
  .sidebar a:hover {
    color: #10267c;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 450px) {
    // .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

  //////////////// Extra small	/////////////////////
  @media screen and (min-width:0px) and (max-width:576px){  
    // .sidebar {
    //   width: 50%;
    // }
  }
  
   ///////// Small ////////////////////
  @media screen and (min-width:576) and (max-width:768px){  
    // .sidebar {
    //   width: 50%;
    // }
  }

  //////////////// Medium	/////////////////////
  @media screen and (min-width:768px) and (max-width:992px){  
    // .sidebar {
    //   width: 60%;
    // }
  }
  
   ///////// Large ////////////////////
  @media screen and (min-width:992px) and (max-width:1200px){
    // .sidebar {
    //   width: 80%;
    // }
  }

  //////////////// Extra large /////////////////////
  @media screen and (min-width:1200px) and (max-width:1400px){  
    // .sidebar {
    //   width: 35%;
    // }
  }
  
   ///////// Large ////////////////////
  @media screen and (min-width:1400px) {
    // .sidebar {
    //   width: 55%;
    // }
  }