// .content{
//     position: absolute;
//     width: 259px;
//     height: 22px;
//     left: 334px;
//     top: 221px;

//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 500;
//     font-size: 18px;
//     line-height: 21px;

//     color: #757575;
// }
// .app{
//     position: absolute;
// width: 250px;
// height: 30px;
// left: 334px;
// top: 174px;

// font-family: 'Roboto';
// font-style: normal;
// font-weight: 600;
// font-size: 25px;
// line-height: 30px;

// color: #757575;
// }
// .table{
//     position: absolute;
// width: 75%;
// height: 600px;
// left: 330px;
// top: 266px;
// background: white;
// border-radius: 10px;
// }
//::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  //  background-color:white /*replace with your color*/
//}

//::ng-deep .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
   // background-color: rgb(22, 184, 28);  /*replace with your color*/
//}

.start {
  padding: 2% 0 0 0;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-row,
.mat-header-row {
display: table-row;
}

//////////////// Extra small	/////////////////////
@media screen and (min-width:0px) and (max-width:576px){
// .sidebar {
//   width: 50%;
// }
}

///////// Small ////////////////////
@media screen and (min-width:576) and (max-width:768px){
// .sidebar {
//   width: 50%;
// }
}

//////////////// Medium	/////////////////////
@media screen and (min-width:768px) and (max-width:992px){
.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
}

///////// Large ////////////////////
@media screen and (min-width:992px) and (max-width:1200px){
// .sidebar {
//   width: 80%;
// }
}

//////////////// Extra large /////////////////////
@media screen and (min-width:1200px) and (max-width:1400px){
.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  // width: 100%;
  // white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
}

///////// Large ////////////////////
@media screen and (min-width:1400px) {
.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  // width: 100%;
  // white-space: nowrap;
  // overflow: hidden;
  vertical-align: middle;
}
}
