<div class="start">
    <h1 style="color: grey; font-weight: 500; font-size: 30px;">Patients</h1>
    <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <!-- <a href="#"> -->
          Dashboard
          <!-- </a> -->
        </li>
        <li class="breadcrumb-item active" aria-current="page">Patients</li>
      </ol>
    </nav>
  
    <!-- <div class="mat-elevation-z8"> -->
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">
  
      <!-- Patient Name -->
      <ng-container matColumnDef="patientName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Patient Name"
          style="font-family: 'Roboto'; font-size: 16px;"> Patient Name </th>
        <td mat-cell *matCellDef="let element"> {{element.patientName}} </td>
      </ng-container>

      <!-- Age Column -->
      <ng-container matColumnDef="age">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Age"
          style="font-family: 'Roboto'; font-size: 16px;"> Age </th>
        <td mat-cell *matCellDef="let element"> {{element.age}} </td>
      </ng-container>  

      <!-- Gender Column -->
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Gender"
          style="font-family: 'Roboto'; font-size: 16px;"> Gender </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
  

  
      <!-- Email -->
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Email"
          style="font-family: 'Roboto'; font-size: 16px;"> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>
  
      <!-- Mobile No -->
      <ng-container matColumnDef="mobileNo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Mobile No"
          style="font-family: 'Roboto'; font-size: 16px;"> Mobile No </th>
        <td mat-cell *matCellDef="let element">{{element.mobileNo}}</td>
      </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by View"
        style="font-family: 'Roboto'; font-size: 16px;"> View </th>
      <td mat-cell *matCellDef="let element">
        <i class="fa fa-eye" style="cursor: pointer;" (click) = "route()"></i>
      </td>
    </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <!-- </div> -->
  
  </div>