.content{
    position: absolute;
    width: 259px;
    height: 22px;
    left: 334px;
    top: 221px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    
    color: #757575;    
}
.app{
    position: absolute;
width: 250px;
height: 30px;
left: 334px;
top: 174px;

font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 30px;

color: #757575;
}

.table{
    position: absolute;
width: 70%;
height: 500px;
left: 330px;
top: 330px;
background: white;
border-radius: 10px;
}

.custom{
    position: absolute;
    left: 320px;
    top: 270px;
    margin-left: 20px;
    box-sizing: border-box;
    width: 60%;
    }