<div class="content">
    <p>Essentials<span style="color: rgb(186, 185, 185);">/Ownership</span></p>
</div>
    <h1 class="app">Ownership Type</h1>
    <div class="custom">
      
      <input type="text" placeholder="Enter Ownership Type"
          style="background-color: rgb(248, 246, 246); 
          height: 40px; width:50%;
         margin-left: 20px;
         padding: 20px;
         font-style: italic;
          border-style: none;
          border:1px solid rgb(175, 173, 173);">
          <!--submit button style-->
          <a class="btn btn-success" style="background-color:#10847E;
                    width: 20%;
                
                    color: white; margin-left: 35px;">Submit</a>
         
  </div>




<!--table of service-->
<table class="table align-middle mb-0 bg-white">
    <thead class="bg-white">
        <tr>
            <th style="color:#a7a4a4;">Show<button style="border-radius: 5px;background: #FFFFFF;
                border: 0.5px solid #10847E;box-sizing: border-box;
                margin-left: 10px; margin-right: 10px; font-size: 15px;">05
                            <i class='fa fa-sort' style="color: blue;"></i>
    
            </button>entries</th>
        </tr>
      <tr>
        <th>Sr. No. 
          <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>
        <th>Qualification
          <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>
        <th>Actions
            
        </th>
       
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-normal mb-1">#001</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Public</p>
        </td>
        <td>
             <a class="btn btn-success" style="background-color: #7fed99;
                    color: green;
                    " href="#!" role="button">
                    <i class="fa fa-pencil me-2"></i>Edit</a> 
                    &nbsp;&nbsp;
                    <a class="btn btn-danger" style="background-color: #fd866e;
                    color: red;
                    " href="#!" role="button">
                    <i class="fa fa-trash me-2"></i>Delete</a>       
     </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-normal mb-1">#001</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Private</p>
        </td>
        <td>
            <a class="btn btn-success" style="background-color: #7fed99;
            color: green;
            " href="#!" role="button">
            <i class="fa fa-pencil me-2"></i>Edit</a> 
            &nbsp;&nbsp;
            <a class="btn btn-danger" style="background-color: #fd866e;
            color: red;
            " href="#!" role="button">
            <i class="fa fa-trash me-2"></i>Delete</a>        
     </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-normal mb-1"></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1"></p>
        </td>
        <td>
            &nbsp;&nbsp;
             </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-normal mb-1"></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1"></p>
        </td>
        <td>
           &nbsp;        
     </td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
           
            <div class="ms-3">
              <p class="fw-normal mb-1"></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1"></p>
        </td>
        <td>
            &nbsp;
             </td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td style="color:rgb(114, 111, 111); font-size:17px">Previous<span>
          <button style="background-color:#10847E;
          color: white;
  border-style: none;
            margin-left: 10px;
             margin-right: 10px;
             padding:10px 20px;" 
          
            >1</button></span>Next</td>
      </tr>
       </tbody>
  </table>
     

    