<div class="start">
    <h1 style="color: grey; font-weight: 500; font-size: 30px;">Suvidha Kendra</h1>
    <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500;">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <!-- <a href="#"> -->
          Dashboard
          <!-- </a> -->
        </li>
        <li class="breadcrumb-item active" aria-current="page">Suvidha Kendra</li>
      </ol>
    </nav>
  
    <!-- <div class="mat-elevation-z8"> -->
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8">
  
      <!-- Name -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name"
          style="font-family: 'Roboto'; font-size: 16px;"> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
  
      <!-- Contact -->
      <ng-container matColumnDef="contact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Contact"
          style="font-family: 'Roboto'; font-size: 16px;"> Contact </th>
        <td mat-cell *matCellDef="let element">
          <p style="margin: 5% 0 0 0;">{{element.contact}}</p>
          <p>{{element.mail}}</p>
          <!-- {{element.contact}} -->
        </td>
      </ng-container>
  
      <!-- Address 1 Column -->
      <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Address 1"
          style="font-family: 'Roboto'; font-size: 16px;"> Address 1 </th>
        <td mat-cell *matCellDef="let element">
          <p style="margin: 5% 0 0 0;">{{element.city}}</p>
          <p>{{element.locality}}</p>
          <!-- {{element.address1}} -->
        </td>
      </ng-container>
  
      <!-- Address 2 Column -->
      <ng-container matColumnDef="address2">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Address 2"
          style="font-family: 'Roboto'; font-size: 16px;"> Address 2 </th>
        <td mat-cell *matCellDef="let element"> 
          <!-- {{element.address2}} -->
          <p style="margin: 5% 0 0 0;">{{element.address}}</p>
          <p>{{element.pin}}</p>
        </td>
      </ng-container>
  
      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status"
          style="font-family: 'Roboto'; font-size: 16px;"> Status </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle></mat-slide-toggle>
        </td>
      </ng-container>
  
      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by View"
          style="font-family: 'Roboto'; font-size: 16px;"> View </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-eye" style="cursor: pointer;" (click) = "route()"></i>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
    </mat-paginator>
    <!-- </div> -->
  
  </div>