<div class="start">
  <h1 style="color: grey; font-weight: 500; font-size: 30px">
    Speciality List
  </h1>
  <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <!-- <a href="#"> -->
        Essentials
        <!-- </a> -->
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Speciality List
      </li>
    </ol>
  </nav>
  <div class="row">
    <div class="mb-3 col-sm-5">
      <input type="text" [(ngModel)]="serviceName" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Enter Speciality Name" />
    </div>
    <div class="mb-3 col-sm-5">
      <input type="text" [(ngModel)]="serviceNameh" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Enter Speciality Name in Hindi" />
    </div>
    <div class="mb-3 col-sm-3">
      <!-- <div class="mb-3"> -->
      <!-- <label for="formFile" class="form-label">Default file input example</label> -->
      <input class="form-control" type="file" accept="image/*" (change)="uploadSpecialization($event.target.files)"
        id="formFile" />
      <!-- </div> -->
      <!-- <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Upload Icon"> -->
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn" style="background: #10847e; color: white" (click)="submitService()">
        Submit
      </button>
    </div>
  </div>
  <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator> -->

  <!-- <div class="mat-elevation-z8"> -->
  <table mat-table [dataSource]="speciality" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">
    <!-- SR. No. Column -->
    <ng-container matColumnDef="srno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Serial Number"
        style="font-family: 'Roboto'; font-size: 16px">
        Sr. No.
      </th>
      <td mat-cell *matCellDef="let element">{{ element.srno }}</td>
    </ng-container>

    <!-- Speciality Name Column -->
    <ng-container matColumnDef="specialityName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Speciality Name"
        style="font-family: 'Roboto'; font-size: 16px">
        Speciality Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.specialityName }}</td>
    </ng-container>

    <ng-container matColumnDef="specialityNameh">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Speciality Name"
        style="font-family: 'Roboto'; font-size: 16px">
        Speciality Name (H)
      </th>
      <td mat-cell *matCellDef="let element">{{ element.specialityNameh }}</td>
    </ng-container>

    <!-- Icons Column -->
    <ng-container matColumnDef="icons">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by icon"
        style="font-family: 'Roboto'; font-size: 16px">
        Icons
      </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="dom.bypassSecurityTrustUrl(element.img)" style="width: 35px" />
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by symbol"
        style="font-family: 'Roboto'; font-size: 16px">
        Actions
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
      <td mat-cell *matCellDef="let element">
        <button type="button" class="btn btn-success btn-sm" style="
            background: rgb(61 173 21 / 0.3);
            margin: 1%;
            height: 50px;
            width: 92px;
            border-radius: 5px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #3dad15;
          " data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="editSpeciality(element)">
          <i class="fa fa-pencil"></i> &nbsp; Edit
        </button>
        <button type="button" class="btn btn-danger btn-sm" style="
            background: rgba(211, 22, 22, 0.28);
            border-radius: 5px;
            width: 92px;
            height: 50px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #d31616;
          " (click)="deleteFunc()">
          <i class="fa fa-trash-o"></i> &nbsp; Delete
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
  <!-- </div> -->
</div>

<!-- Edit Modal Start-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel" style="font-size: 25px; margin-bottom: 0px; font-weight: 500">
          Edit Speciality List
        </p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form #specialityForm [formGroup]="editSpecialityForm" (ngSubmit)="updateSpeciality()">
        <div class="modal-body">
          <div class="row" style="margin: 0">
            <div class="col-sm">
              <label for="" style="
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 30px;
              color: #757575;
            ">Speciality Name</label>
              <input type="text" class="form-control" style="margin: 2% 0" name="SpecialityName" id="SpecialityName"
                formControlName="specialityName" />
            </div>
            <div class="col-sm">
              <label for="" style="
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 30px;
              color: #757575;
            ">Speciality Name (H)</label>
              <input type="text" class="form-control" style="margin: 2% 0" name="SpecialityNameHindi"
                id="specialityNameh" formControlName="specialityNameh" />
            </div>
            <div class="col-sm">
              <label for="" style="
              font-family: 'Roboto';
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 30px;
              color: #757575;
            ">Image</label>
              <div class="mb-3">
                <input class="form-control form-control-sm" type="file" #fileUploader id="formFile" style="margin: 2% 0"
                  (change)="uploadSpecialization($event.target.files)" />
              </div>
              <!-- <input type="number" class="form-control" name="Amount" style="margin: 2% 0;" id="Amount"> -->
            </div>
          </div>
          <!-- <p>Edit Modal body text goes here.</p> -->
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button> -->
          <button type="submit" class="btn btn-primary">
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- Edit Modal End-->

<!-- Delete Modal Start-->
<!-- <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="deleteModalLabel" style="font-size: 25px;
        margin-bottom: 0px; font-weight: 500;">Delete</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Delete Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Delete Modal End-->