<nav class="navbar navbar-light" style="padding: 0.5% 2% 0 2%; background: white">
  <img src="../assets/Medius-Logo.png" alt="Preview Not Available" class="medLogo" />

  <form class="d-flex" class="formWidth">
    <div class="row" style="margin: 0">
      <div class="col-sm" style="padding: 3% 0">
        <ng-template [ngIf]="!isLoggedIn">
          <select (change)="onEnvChange($event.target.value)" [value]="localUrl" class="form-select"
            aria-label="Default select example">
            <option *ngFor="let env of environments" [selected]="env.selected" [value]="env.url">
              {{env.name}}
            </option>
          </select>
        </ng-template>
        <ng-template [ngIf]="isLoggedIn">
          <h1>
            {{envName}}
          </h1>
        </ng-template>
      </div>
      <div class="col-sm">
        <div class="row" style="margin: 0; float: right">
          <div class="col-sm-5">
            <div class="dot">M</div>
          </div>
          <div class="col-sm">
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false" style="
                    background: white;
                    color: #757575;
                    border: 0;
                    font-size: 30px;
                  ">
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="margin: 23% -200%">
                <li style="padding: 3% 0">
                  <a class="dropdown-item" style="background: #e8f3f3">
                    <div class="row" style="margin: 0">
                      <div class="logResize">M</div>
                      <div class="col-sm" style="margin: auto">
                        <p style="margin: 0">Abhishek Singh</p>
                        <p style="margin: 0">Admin</p>
                      </div>
                    </div>
                  </a>
                </li>
                <li style="padding: 3% 0; border-bottom: 1px solid black">
                  <a class="dropdown-item">My Profile</a>
                </li>
                <li style="padding: 3% 0; border-bottom: 1px solid black">
                  <a class="dropdown-item">Setting</a>
                </li>
                <li style="padding: 3% 0" (click)="logout()">
                  <a class="dropdown-item">Log Out</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</nav>
<div class="row" style="margin: 0">
  <div class="col-lg col-md col-sm" style="border-top: 1px solid #00000036; overflow: scroll">
    <router-outlet></router-outlet>
  </div>
</div>