<div class="content">
    <p>Dashboard <span style="color: rgb(186, 185, 185);">/Doctor</span></p>
</div>
    <h1 class="app">Doctor-List</h1>
    
 <!--Table of appointsment-->
 <table class="table align-middle mb-0 bg-white">
    <thead class="bg-white">
        <tr>
            <th style="color:#a7a4a4;">Show<button style="border-radius: 5px;background: #FFFFFF;
                border: 0.5px solid #10847E;box-sizing: border-box;
                margin-left: 10px; margin-right: 10px; font-size: 15px;">10
                              <i class='fa fa-sort' style="color: blue;"></i>
  
              </button>entries</th>
        </tr>
      <tr>
        <th>Doctor Name
          <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>
        <th>Speciality  <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i></th>

        <th>Experience  <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
          </th>

        <th>No. Of Appointments  <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>

        <th>Status  
          <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>

        <th>View 

          <i class="fa fa-arrow-down" 
          style="color: rgb(199, 194, 194);
           margin-left: 10px;"></i>
            <i class="fa fa-arrow-up"
            style="color: rgb(199, 194, 194);" ></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px; border-radius: 50%;"
                />
            <div class="ms-3">
              <p class="fw-normal mb-1">Dr. Deepak Kumar</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Dental</p>
        </td>
        <td>
            
            <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <p class="fw-normal mb-1">20 years</p>
                </div>
              </div> 
                     </td>
            <td>
                <p class="fw-normal mb-1">15</p>
              </td>
              <td>
                <mat-slide-toggle color ="warn"></mat-slide-toggle>
              </td>
              <td><i class="fa fa-eye"></i></td>
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px; border-radius: 50%;"
                />
            <div class="ms-3">
              <p class="fw-normal mb-1">Dr. Deepak Kumar</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Dental</p>
        </td>
        <td>
            
            <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <p class="fw-normal mb-1">20 years</p>
                </div>
              </div> 
              </td>
            <td>
                <p class="fw-normal mb-1">15</p>
              </td>
              <td>
                <mat-slide-toggle color ="warn"></mat-slide-toggle>
              </td>
              <td><i class="fa fa-eye"></i></td>
  
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px; border-radius: 50%;"
                />
            <div class="ms-3">
              <p class="fw-normal mb-1">Dr. Deepak Kumar</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Dental</p>
        </td>
        <td>
            
            <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <p class="fw-normal mb-1">20 years</p>
                </div>
              </div> 
                     </td>
            <td>
                <p class="fw-normal mb-1">15</p>
              </td>
              <td>
                <mat-slide-toggle color ="warn"></mat-slide-toggle>
              </td>
              <td><i class="fa fa-eye"></i></td>
 
      </tr>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <img
                src="https://mdbootstrap.com/img/new/avatars/8.jpg"
                alt=""
                style="width: 45px; height: 45px; border-radius: 50%;"
                />
            <div class="ms-3">
              <p class="fw-normal mb-1">Dr. Deepak Kumar</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">Dental</p>
        </td>
        <td>
            
            <div class="d-flex align-items-center">
                
                <div class="ms-3">
                  <p class="fw-normal mb-1">20 years</p>
                </div>
              </div> 
                     </td>
            <td>
                <p class="fw-normal mb-1">15</p>
              </td>
              <td>
                <mat-slide-toggle color ="warn"></mat-slide-toggle>
              </td>
              <td><i class="fa fa-eye"></i></td>
   
      </tr>
      <tr>
          <td>Showing 1 to 10 of 10 entites</td>
              <td></td>
              <td></td>
              <td></td>
              <td style="color:rgb(114, 111, 111); font-size:17px">Previous<span>
                <button style="background-color:#10847E;
                  width:25%;
                  height: 70%;
                  border-style: none;
                  color: white;
                  margin-left: 10px; margin-right: 10px;color: white;" 
                  >1</button></span>Next</td>
    </tr>
        </tbody>
  </table>
     


