<!-- <div class="content">
  <p>Dashboard <span style="color: rgb(186, 185, 185)">/Doctor</span></p>
</div>
<h1 class="app">Doctor-List</h1>

Table of appointsment
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-white">
    <tr>
      <th style="color: #a7a4a4">
        Show<button
          style="
            border-radius: 5px;
            background: #ffffff;
            border: 0.5px solid #10847e;
            box-sizing: border-box;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
          "
        >
          10
          <i class="fa fa-sort" style="color: blue"></i></button
        >entries
      </th>
    </tr>
    <tr>
      <th>
        Doctor Name
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>
      <th>
        Speciality
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        Experience
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        No. Of Appointments
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        Status
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        View

        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="doctorList">
      <tr *ngFor="let data of doctorList">
        <td>
          <div class="d-flex align-items-center">
            <img
              [src]="data.image | image: data.image"
              alt=""
              style="width: 45px; height: 45px; border-radius: 50%"
            />
            <div class="ms-3">
              <p class="fw-normal mb-1">
                {{ data.firstName }} {{ data.lastName }}
              </p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1" *ngFor="let special of data.specialization">
            {{ special.specialityName }}
          </p>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-normal mb-1">{{ data.overallExperience }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">
            {{
              data.appointment.length > 0 ? data.appointment[0].appointment : 0
            }}
          </p>
        </td>
        <td>
          <mat-slide-toggle
            [checked]="data.verified"
            (change)="toggleVerify(data._id)"
            [disabled]="data.verified"
            color="warn"
          ></mat-slide-toggle>
        </td>
        <td><i class="fa fa-eye"></i></td>
      </tr>
    </ng-container>
    <tr>
      <td>Showing 1 to 10 of 10 entites</td>
      <td></td>
      <td></td>
      <td></td>
      <td style="color: rgb(114, 111, 111); font-size: 17px">
        Previous<span>
          <button
            style="
              background-color: #10847e;
              border-style: none;
              color: white;
              margin-left: 10px;
              margin-right: 10px;
              color: white;
              padding: 10px 20px;
            "
          >
            1
          </button></span
        >Next
      </td>
    </tr>
  </tbody>
</table> -->

<div class="start">
  <h1 style="color: grey; font-weight: 500; font-size: 30px">Doctors</h1>
  <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <!-- <a href="#"> -->
        Dashboard
        <!-- </a> -->
      </li>
      <li class="breadcrumb-item active" aria-current="page">Doctors</li>
    </ol>
  </nav>

  <!-- <div class="mat-elevation-z8"> -->
  <ng-container *ngIf="dataSource.length">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <!-- Doctors Name -->
      <ng-container matColumnDef="doctorsName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Doctors Name"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Doctor Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.doctorsName }}</td>
      </ng-container>

      <!-- Speciality Column -->
      <ng-container matColumnDef="speciality">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Speciality"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Speciality
        </th>
        <td mat-cell *matCellDef="let element">{{ element.speciality }}</td>
      </ng-container>

      <!-- Experience Column -->
      <ng-container matColumnDef="experience">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Experience"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Experience
        </th>
        <td mat-cell *matCellDef="let element">{{ element.experience }}</td>
      </ng-container>

      <!-- No. Of Appointment -->
      <ng-container matColumnDef="appointmentNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by No. Of Appointment"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          No. Of Appointment
        </th>
        <td mat-cell *matCellDef="let element">{{ element.appointmentNo }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Status"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Status
        </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle></mat-slide-toggle>
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by View"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          View
        </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-eye"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>

  <ng-container *ngIf="!dataSource.length">
    <app-loader class="center"></app-loader>
  </ng-container>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
    aria-label="Select page of periodic elements"
  >
  </mat-paginator>
  <!-- </div> -->
</div>
