<div class="start">
  <h1 style="color: grey; font-weight: 500; font-size: 30px">Hospitals</h1>
  <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <!-- <a href="#"> -->
        Dashboard
        <!-- </a> -->
      </li>
      <li class="breadcrumb-item active" aria-current="page">Hospitals</li>
    </ol>
  </nav>
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)"
    class="mat-elevation-z8">
    <!-- Hospital Name -->
    <ng-container matColumnDef="hospitalName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Hospital Name"
        style="font-family: 'Roboto'; font-size: 16px">
        Hospital Name
      </th>
      <td mat-cell *matCellDef="let element">{{ element.hospitalName }}</td>
    </ng-container>

    <!-- City Column -->
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by City"
        style="font-family: 'Roboto'; font-size: 16px">
        City & Locality
      </th>
      <td mat-cell *matCellDef="let element">
        <p style="margin: 5% 0 0 0">{{ element.city }}</p>
        <p>{{ element.locality }}</p>
        <!-- {{element.city}} -->
      </td>
    </ng-container>

    <!-- Mobile No. Column -->
    <ng-container matColumnDef="mobileNo">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Mobile No."
        style="font-family: 'Roboto'; font-size: 16px">
        Mobile No.
      </th>
      <td mat-cell *matCellDef="let element">{{ element.mobileNo }}</td>
    </ng-container>

    <!-- Locality Column -->
    <ng-container matColumnDef="locality">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Locality"
        style="font-family: 'Roboto'; font-size: 16px">
        Locality
      </th>
      <td mat-cell *matCellDef="let element">{{ element.locality }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Status"
        style="font-family: 'Roboto'; font-size: 16px">
        Status
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
      <td mat-cell *matCellDef="let element">
        <mat-slide-toggle [checked]="element.verified" (change)="toggleVerify(element.id)"></mat-slide-toggle>
      </td>
    </ng-container>

    <ng-container matColumnDef="phoneNumberVerified">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone verified status"
        style="font-family: 'Roboto'; font-size: 16px">
        Phone Number Verified
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
      <td mat-cell *matCellDef="let element">{{ element.phoneNumberVerified }}</td>
    </ng-container>

    <ng-container matColumnDef="lastVerifiedPhone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone verified status"
        style="font-family: 'Roboto'; font-size: 16px">
        Last verified (Phone)
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
      <td mat-cell *matCellDef="let element">{{ element.lastVerifiedPhone }}</td>
    </ng-container>

    <ng-container matColumnDef="onHold_inactive">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by onHold_inactive"
        style="font-family: 'Roboto'; font-size: 16px">
        Onhold/Inactive
      </th>
      <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
      <td mat-cell *matCellDef="let element">{{ element.status }}</td>
    </ng-container>

    <!-- View Column -->
    <ng-container matColumnDef="view">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by View"
        style="font-family: 'Roboto'; font-size: 16px">
        View
      </th>
      <td mat-cell *matCellDef="let element">
        <i class="fa fa-eye" style="cursor: pointer" (click)="route(element.id)"></i>
      </td>
    </ng-container>

    <!-- View Column -->
    <!-- <ng-container matColumnDef="view">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by View"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          View
        </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-eye"></i>
        </td>
      </ng-container> -->

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
  </mat-paginator>
  <!-- </ng-container> -->
  <ng-container *ngIf="!dataSource.length">
    <app-loader class="center"></app-loader>
  </ng-container>
  <!-- </div> -->
</div>

<!-- Edit Modal Start-->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel" style="font-size: 25px;
        margin-bottom: 0px; font-weight: 500;">Edit Hospitals</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin: 0;">
          <div class="col-sm">
            <label for="" style="font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px; color: #757575;">City Name</label>
            <select class="form-select" aria-label="Default select example">
              <option selected disabled>City State</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm">
            <label for="" style="font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px; color: #757575;">Locality Name</label>
            <div class="col-sm">
              <input type="text" class="form-control" style="margin: 2% 0;" name="LocalityName" id="LocalityName">
            </div>
          </div>
        </div>
        <p>Edit Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Edit Modal End-->