<!-- <div class="content">
  <p>Dashboard <span style="color: rgb(186, 185, 185)">/Hospital</span></p>
</div>
<h1 class="app">Hospitals</h1>

Table of appointsment
<table class="table align-middle mb-0 bg-white">
  <thead class="bg-white">
    <tr>
      <th style="color: #a7a4a4">
        Show<button
          style="
            border-radius: 5px;
            background: #ffffff;
            border: 0.5px solid #10847e;
            box-sizing: border-box;
            margin-left: 10px;
            margin-right: 10px;
            font-size: 15px;
          "
        >
          10
          <i class="fa fa-sort" style="color: blue"></i></button
        >entries
      </th>
    </tr>
    <tr>
      <th>
        Hospital Name
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        City
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>
      <th>
        Locality

        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        No. Of Appointments

        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>

      <th>
        Status
        <i
          class="fa fa-arrow-down"
          style="color: rgb(199, 194, 194); margin-left: 10px"
        ></i>
        <i class="fa fa-arrow-up" style="color: rgb(199, 194, 194)"></i>
      </th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="hospitalList">
      <tr *ngFor="let data of hospitalList">
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-normal mb-1">{{ data.name }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ data.address.state.name }}</p>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-normal mb-1">{{ data.address.locality.name }}</p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">
            {{
              data.appointment.length > 0 ? data.appointment[0].appointment : 0
            }}
          </p>
        </td>
        <td>
          <mat-slide-toggle
            [checked]="data.verified"
            [disabled]="data.verified"
            (change)="toggleVerify(data._id)"
            color="warn"
          ></mat-slide-toggle>
        </td>
      </tr>
    </ng-container>
    <tr>
      <td>Showing 1 to 10 of 10 entites</td>
    </tr>
  </tbody>
</table> -->

<div class="start">
  <h1 style="color: grey; font-weight: 500; font-size: 30px">Hospitals</h1>
  <nav aria-label="breadcrumb" style="font-size: 21px; font-weight: 500">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <!-- <a href="#"> -->
        Dashboard
        <!-- </a> -->
      </li>
      <li class="breadcrumb-item active" aria-current="page">Hospitals</li>
    </ol>
  </nav>
  <!-- <div class="row">
    <div class="mb-3 col-lg-3 col-sm-5">
      <select class="form-select" aria-label="Default select example">
        <option selected disabled>Hospital Name</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="mb-3 col-lg-3 col-sm-5">
      <input type="text" class="form-control" aria-label="Sizing example input"
        aria-describedby="inputGroup-sizing-default" placeholder="Enter Locality Name">
    </div>
    <div class="col-sm-2">
      <button type="button" class="btn" style="background: #10847E; color: white;">Submit</button>
    </div>
  </div> -->
  <!-- <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator> -->

  <!-- <div class="mat-elevation-z8"> -->
  <ng-container *ngIf="dataSource.length">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
      class="mat-elevation-z8"
    >
      <!-- Hospital Name -->
      <ng-container matColumnDef="hospitalName">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Hospital Name"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Hospital Name
        </th>
        <td mat-cell *matCellDef="let element">{{ element.hospitalName }}</td>
      </ng-container>

      <!-- City Column -->
      <ng-container matColumnDef="city">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by City"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          City
        </th>
        <td mat-cell *matCellDef="let element">{{ element.city }}</td>
      </ng-container>

      <!-- Locality Column -->
      <ng-container matColumnDef="locality">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Locality"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Locality
        </th>
        <td mat-cell *matCellDef="let element">{{ element.locality }}</td>
      </ng-container>

      <!-- No. Of Appointment -->
      <ng-container matColumnDef="appointmentNo">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by No. Of Appointment"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          No. Of Appointment
        </th>
        <td mat-cell *matCellDef="let element">{{ element.appointmentNo }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by Status"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          Status
        </th>
        <!-- <td mat-cell *matCellDef="let element"> {{element.actions}} </td> -->
        <td mat-cell *matCellDef="let element">
          <mat-slide-toggle></mat-slide-toggle>
        </td>
      </ng-container>

      <!-- View Column -->
      <ng-container matColumnDef="view">
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by View"
          style="font-family: 'Roboto'; font-size: 16px"
        >
          View
        </th>
        <td mat-cell *matCellDef="let element">
          <i class="fa fa-eye"></i>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements"
    >
    </mat-paginator>
  </ng-container>
  <ng-container *ngIf="!dataSource.length">
    <app-loader class="center"></app-loader>
  </ng-container>
  <!-- </div> -->
</div>

<!-- Edit Modal Start-->
<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <p class="modal-title" id="exampleModalLabel" style="font-size: 25px;
        margin-bottom: 0px; font-weight: 500;">Edit Hospitals</p>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row" style="margin: 0;">
          <div class="col-sm">
            <label for="" style="font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px; color: #757575;">City Name</label>
            <select class="form-select" aria-label="Default select example">
              <option selected disabled>City State</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
          <div class="col-sm">
            <label for="" style="font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 17px;
            line-height: 30px; color: #757575;">Locality Name</label>
            <div class="col-sm">
              <input type="text" class="form-control" style="margin: 2% 0;" name="LocalityName" id="LocalityName">
            </div>
          </div>
        </div>
        <p>Edit Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div> -->
<!-- Edit Modal End-->
