

<div class="sidebar">
    <h5>Main</h5>
    <a routerLink=""><i class="fa fa-fw fa-home"></i> Dashboard</a>
    <a routerLink="/appointment"><i class="fa fa-fw fa-calendar"></i> Appointment</a>
    <a routerLink="/hospital"><i class="fa fa-fw fa-bed"></i> Hospitals</a>
    <a routerLink="/doctor"><i class="fa fa-fw fa-user-md"></i> Doctors</a>
    <a routerLink="/user"><i class="fa fa-fw fa-user"></i> User</a>

    <a routerLink="/services" class="service"><i class="fa fa-fw fa-wrench"></i> Services
       
    </a>
    <ul class="feat-show">
        <li><a routerLink="/amenities">Amentities</a></li>
     </ul>
    <a routerLink="/speciality"><i class="fa fa-fw fa-bookmark"></i> Speciality</a>
    <a routerLink="/qualification"><i class="fa fa-fw fa-graduation-cap"></i>Qualification</a>
    <a routerLink="/location" class="locate"><i class="fa fa-fw fa-globe"></i>Location
    </a>
    <ul class="show">
            <li><a routerLink="/state"><i class='fa fa-map-marker'></i>

                State</a></li>
            <li><a routerLink="/city"><i class='fa fa-building'></i>
                City</a></li>
            <li><a routerLink="/Ownership"><i class='fa fa-university'></i>
                Ownership Type</a></li>
        </ul>
    <a routerLink="/payment"><i class="fa fa-fw fa-credit-card"></i>Mode of Payment</a>
  </div>
 
