<!-- <div class="sidebar">
    <h5>Main</h5>
    <a routerLink="/dashboard"><i class="fa fa-fw fa-home"></i> Dashboard</a>
    <hr style="margin: 2%; color: white; opacity: 1;">
    <a routerLink="/appointment"><i class="fa fa-fw fa-calendar"></i> Appointment</a>
    <a routerLink="/hospital"><i class="fa fa-fw fa-bed"></i> Hospitals</a>
    <a routerLink="/doctor"><i class="fa fa-fw fa-user-md"></i> Doctors</a>
    <a routerLink="/user"><i class="fa fa-fw fa-user"></i> User</a>
    <hr style="margin: 2%; color: white; opacity: 1;">
    <a>
        <i class="fa fa-check-square" aria-hidden="true"></i> Essentials
    </a>
    <ul class="feat-show" type = "none">
        <li><a routerLink="/services"><i class="fa fa-briefcase" aria-hidden="true" style="margin: 0 1%;"></i> Services</a></li>
        <li><a routerLink="/amenities"><i class="fa fa-circle-o-notch" aria-hidden="true" style="margin: 0 1%;"></i>Amenities</a></li>
        <li><a routerLink="/speciality"><i class="fa fa-stethoscope" style="margin: 0 1%;"></i> Speciality</a></li>
        <li><a routerLink="/qualification"><i class="fa fa-fw fa-graduation-cap" style="margin: 0 1%;"></i>Qualification</a></li>
        <li><a routerLink="/Ownership"><i class='fa fa-university' style="margin: 0 1%;"></i>
            Ownership Type</a></li>
        <li><a routerLink="/payment"><i class='fa fa-rupee' style="margin: 0 1%;"></i> Convenience Fee</a></li>
    </ul>
    <hr style="margin: 2%; color: white; opacity: 1;">    
    <a><i class="fa fa-fw fa-globe"></i>Location
    </a>
    <ul class="show" type = "none">
            <li><a routerLink="/state"><i class='fa fa-map-marker'></i>
                State</a></li>
            <li><a routerLink="/city"><i class='fa fa-building'></i>
                City</a></li>
            <li><a routerLink="/location"><i class='fa fa-crosshairs'></i>
                Locality</a></li>
        </ul> -->
    <!-- <a routerLink="/payment"><i class="fa fa-fw fa-credit-card"></i>Mode of Payment</a> -->
  <!-- </div> -->
 
  <div class="sidebar">
    <h5>Main</h5>
    <a
      routerLink="/dashboard"
      id="dashboard"
      (click) = "getSelectedIcon('dashboard')"
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-home" style="width: 27px; height: 22.41px"></i>
      Dashboard</a
    >
    <hr style="margin: 2%; color: white; opacity: 1" />
    <a
      routerLink="/appointment"
      id="appointment"
      (click) = "getSelectedIcon('appointment')"
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-calendar" style="width: 27px; height: 22.41px"></i>
      Appointment</a
    >
    <a
      routerLink="/hospital"
      id="hospital"
      (click) = "getSelectedIcon('hospital')"
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-bed" style="width: 27px; height: 22.41px"></i>
      Hospitals</a
    >
    <a
      routerLink="/doctor"
      id="doctor"
      (click) = "getSelectedIcon('doctor')"
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-user-md" style="width: 27px; height: 22.41px"></i>
      Doctors</a
    >
    <a
      routerLink="/patients"
      id="user"
      (click) = "getSelectedIcon('user')"
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-user" style="width: 27px; height: 22.41px"></i>
      Patients</a
    >
    <hr style="margin: 2%; color: white; opacity: 1" />
    <a
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
    >
      <i
        class="fa fa-check-square"
        aria-hidden="true"
        style="width: 27px; height: 22.41px"
      ></i>
      Essentials
    </a>
    <ul class="feat-show" type="none">
      <li>
        <a
          routerLink="/services"
          id="services"
          (click) = "getSelectedIcon('services')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i class="fa fa-briefcase" aria-hidden="true"></i> Services</a
        >
      </li>
      <li>
        <a
          routerLink="/amenities"
          id="amenities"
          (click) = "getSelectedIcon('amenities')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i
            class="fa fa-circle-o-notch"
            aria-hidden="true"
            style="margin: 0 1%"
          ></i
          >Amenities</a
        >
      </li>
      <li>
        <a
          routerLink="/speciality"
          id="speciality"
          (click) = "getSelectedIcon('speciality')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i class="fa fa-stethoscope" style="margin: 0 1%"></i> Speciality</a
        >
      </li>
      <li>
        <a
          routerLink="/qualification"
          id="qualification"
          (click) = "getSelectedIcon('qualification')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i class="fa fa-fw fa-graduation-cap" style="margin: 0 1%"></i
          >Qualification</a
        >
      </li>
      <li>
        <a
          routerLink="/Ownership"
          id="Ownership"
          (click) = "getSelectedIcon('Ownership')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i class="fa fa-university" style="margin: 0 1%"></i> Ownership Type</a
        >
      </li>
      <li>
        <a
          routerLink="/payment"
          id="payment"
          (click) = "getSelectedIcon('payment')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 17px;
            line-height: 20px;
            letter-spacing: 0.05em;
            color: #ffffff;
          "
          ><i class="fa fa-rupee" style="margin: 0 1%"></i> Convenience Fee</a
        >
      </li>
    </ul>
    <hr style="margin: 2%; color: white; opacity: 1" />
    <a
      style="
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #ffffff;
      "
      ><i class="fa fa-fw fa-globe" style="width: 27px; height: 22.41px"></i
      >Location Details
    </a>
    <ul class="show" type="none">
      <li>
        <a 
        routerLink="/state" 
        id="state"
        (click) = "getSelectedIcon('state')"
        style="font-family: 'Roboto'; font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #f8f9fa;"
          ><i
            class="fa fa-map-marker"
            style="
              margin: 0 1%
            "
          ></i>
          State</a
        >
      </li>
      <li>
        <a 
        routerLink="/city" 
        id="city"
        (click) = "getSelectedIcon('city')"
        style="font-family: 'Roboto'; font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.05em;
        color: #f8f9fa;"
          ><i
            class="fa fa-building"
            style="
              margin: 0 1%
            "
          ></i>
          City</a
        >
      </li>
      <li>
        <a
          routerLink="/location"
          id="location"
          (click) = "getSelectedIcon('location')"
          style="
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
            color: #f8f9fa;
          "
          ><i class="fa fa-crosshairs" style="margin: 0 1%"></i> Locality</a
        >
      </li>
    </ul>
    <!-- <a routerLink="/payment"><i class="fa fa-fw fa-credit-card"></i>Mode of Payment</a> -->
  </div>  