/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

<<<<<<< HEAD
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f8f9fa;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
=======
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
background-color: #F8F9FA;}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
>>>>>>> d3626d2dc118a790fcb5f1a140ba34b69ee5af53
