<div class="start">
  <h1
    style="
      font-family: Roboto;
      font-size: 30px;
      font-weight: 400;
      line-height: 45px;
      letter-spacing: 0em;
      text-align: left;
    "
  >
    Doctor Profile
  </h1>

  <div class="row">
    <div
      class="col-sm-2 col-lg-1"
      style="background: #e5e5e5; border-radius: 50px"
    >
      <img
        src="../../assets/doctor.png"
        alt="No Image Available"
        class="hospitalImg"
        style="width: 100%"
      />
    </div>
    <div class="col-sm">
      <p
        style="
          font-family: Roboto;
          font-size: 25px;
          font-weight: 400;
          line-height: 45px;
          letter-spacing: 0em;
          text-align: left;
          margin: 0;
        "
      >
        Name
      </p>
      <p
        style="
          font-family: Roboto;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          margin: 0;
        "
      >
        Email Id
      </p>
      <p
        style="
          font-family: Roboto;
          font-size: 20px;
          font-weight: 400;
          line-height: 28px;
          letter-spacing: 0em;
          text-align: left;
          margin: 0;
        "
      >
        Address
      </p>
    </div>
  </div>

  <hr />

  <div>
    <ul
      ngbNav
      #nav="ngbNav"
      [(activeId)]="active"
      [destroyOnHide]="false"
      class="nav-tabs"
    >
      <li [ngbNavItem]="1" [destroyOnHide]="true">
        <a ngbNavLink style="color: black">Basic Detail</a>
        <ng-template ngbNavContent>
          <div class="row" style="margin: 1% 0">
            <div
              class="col-sm-4 col-lg-2"
              style="
                text-align: end;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
              "
            >
              <p>Name</p>
              <p>Mobile No.</p>
              <p>Email</p>
              <p>Date Of Birth</p>
              <p>Gender</p>
            </div>
            <div
              class="col-sm"
              style="
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                color: #757575;
              "
            >
              <p>{{ doctorData?.name }}</p>
              <p>{{ doctorData?.phoneNumber }}</p>
              <p>{{ doctorData?.email }}</p>
              <p>DD / MM / YY</p>
              <p>{{ doctorData?.gender }}</p>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink style="color: black">Qualification Details</a>
        <ng-template ngbNavContent>
          <div class="row" style="margin: 1% 0">
            <div
              class="col-sm-4 col-lg-2"
              style="
                text-align: end;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
              "
            >
              <p>Specialisation</p>
              <p>Degree</p>
              <p>Institution</p>
              <!-- <p>Degree 2</p>
              <p>Institution</p> -->
            </div>
            <div
              class="col-sm"
              style="
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                color: #757575;
              "
            >
              <p>{{ doctorData?.specialization }}</p>
              <p>{{ doctorData?.qualification }}</p>
              <p>{{ doctorData?.institution }}</p>
              <!-- <p>MD</p>
              <p>AIIMS</p> -->
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="3">
        <a ngbNavLink style="color: black">Registration Details</a>
        <ng-template ngbNavContent let-active>
          <div class="row" style="margin: 1% 0">
            <div
              class="col-sm-4 col-lg-2"
              style="
                text-align: end;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
              "
            >
              <p>Registration No.</p>
              <p>Registration Council</p>
              <p>Registration Date</p>
            </div>
            <div
              class="col-sm"
              style="
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                color: #757575;
              "
            >
              <p>Name</p>
              <p>Date Of Birth</p>
              <p>000000000</p>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="4">
        <a ngbNavLink style="color: black">Payment Details</a>
        <ng-template ngbNavContent let-active>
          <div class="row" style="margin: 1% 0">
            <div
              class="col-sm-4 col-lg-2"
              style="
                text-align: end;
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
              "
            >
              <p>Account Holder Name</p>
              <p>Account No.</p>
              <p>Bank Name</p>
              <p>IFSC Code</p>
              <p>Pan No.</p>
            </div>
            <div
              class="col-sm"
              style="
                font-family: Roboto;
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 0em;
                color: #757575;
              "
            >
              <p>Name</p>
              <p>000000000</p>
              <p>000000000</p>
              <p>qwer</p>
              <p>0000 0000</p>
            </div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="5">
        <a ngbNavLink style="color: black">Practice Details</a>
        <ng-template ngbNavContent>
          <table
            mat-table
            [dataSource]="dataSource"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8"
          >
            <!-- Sr No. Column -->
            <ng-container matColumnDef="srNo">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Sr No."
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Sr No.
              </th>
              <td mat-cell *matCellDef="let element">{{ element.srNo }}</td>
            </ng-container>

            <!-- Doctor Detail Column -->
            <ng-container matColumnDef="hospitalDetail">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Doctor Detail"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Hospital Detail
              </th>
              <td mat-cell *matCellDef="let element">
                <p style="margin: 0">{{ element.hospitalName }}</p>
                <p style="margin: 0">{{ element.hospitalAddress }}</p>
                <!-- <p style="margin: 0;"> {{element.degree}} </p>
                <p style="margin: 0;"> {{element.expYrs}} </p> -->
                <!-- {{element.bookingId}}  -->
              </td>
            </ng-container>

            <!-- Consultancy Fee  Column -->
            <ng-container matColumnDef="consultancyFee">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Consultancy Fee"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Consultancy Fee
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.consultancyFee }}
              </td>
            </ng-container>

            <!-- Prescription Validity Column -->
            <ng-container matColumnDef="prescriptionValidity">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Prescription Validity"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Prescription Validity
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.prescriptionValidity }}
              </td>
            </ng-container>

            <!-- Timing Column -->
            <ng-container matColumnDef="appointmentTime">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Timing"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Timing
              </th>
              <td mat-cell *matCellDef="let element">
                <p style="margin: 5% 0 0 0">
                  <span style="color: #3ebaff">{{
                    element.appointmentTime
                  }}</span>
                  |
                  <span> {{ element.patientsCount }} </span>
                  |
                  <span> {{ element.weekDays }} </span>
                </p>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </ng-template>
      </li>
      <li [ngbNavItem]="6">
        <a ngbNavLink style="color: black">Appointments</a>
        <ng-template ngbNavContent let-active>
          <table
            mat-table
            [dataSource]="dataSourceAppointmentsTab"
            matSort
            (matSortChange)="announceSortChange($event)"
            class="mat-elevation-z8"
          >
            <!-- Patient Name Column -->
            <ng-container matColumnDef="patientName">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Patient Name"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Patient Name
              </th>
              <td mat-cell *matCellDef="let element">
                <p style="margin: 5% 0 0 0">{{ element.patientName }}</p>
                <p>{{ element.gender }} | {{ element.age }}</p>
                <!-- <p>Male | 32yrs.</p> -->
              </td>
            </ng-container>

            <!-- Booking ID Column -->
            <ng-container matColumnDef="bookingId">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Booking Id"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Booking ID
              </th>
              <td mat-cell *matCellDef="let element">
                <p style="margin: 5% 0 0 0">
                  Booking ID: {{ element.bookingId }}
                </p>
                <p>Booking Date: {{ element.bookingDate }}</p>
                <!-- {{element.bookingId}}  -->
              </td>
            </ng-container>

            <!-- Hospital Detail Column -->
            <ng-container matColumnDef="hospitalDetail">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Doctor Detail"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Hospital Detail
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{element.doctorDetail}}  -->
                <p style="margin: 5% 0 0 0">{{ element.hospitalDetail }}</p>
                <p style="margin: 0">{{ element.hospitalAddress }}</p>
                <!-- <p style="margin: 0;">{{element.degree}}</p>
                <p style="margin: 0;">{{element.expYrs}}</p> -->
              </td>
            </ng-container>

            <!-- Appointment Time Column -->
            <ng-container matColumnDef="appointmentTime">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Appointment Time"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Appointment Time
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{element.appointmentTime}}  -->
                <p style="margin: 5% 0 0 0">{{ element.appointmentDate }}</p>
                <p style="color: #3ebaff">{{ element.appointmentTime }}</p>
              </td>
            </ng-container>

            <!-- Ammount Column -->
            <ng-container matColumnDef="amount">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Ammount"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Amount
              </th>
              <td mat-cell *matCellDef="let element">
                <i class="fa fa-rupee"></i>{{ element.amount }}
              </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
              <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                sortActionDescription="Sort by Status"
                style="font-family: 'Roboto'; font-size: 16px"
              >
                Status
              </th>
              <td mat-cell *matCellDef="let element">
                <!-- {{element.status}}  -->
                <p
                  style="
                    margin: 5% 0 0 0;
                    color: #757575;
                    font-weight: 700;
                    font-family: Roboto;
                    font-size: 14px;
                    line-height: 16px;
                    letter-spacing: 0em;
                    text-align: left;
                  "
                >
                  {{ element.status1 }}
                </p>
                <p>{{ element.status2 }}</p>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="displayedColumnsAppointmentsTab"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumnsAppointmentsTab"
            ></tr>
          </table>
          <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
            aria-label="Select page of periodic elements"
          >
          </mat-paginator>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-2"></div>

    <!-- <pre>Active: {{ active }}</pre> -->
  </div>
</div>
